.app.dark {
  --bg-color: #1a1a57;
  --inverted-bg-color: #ffffff;

  /*Fonts*/
  --primary-color: #ffffff;
  --secondary-color: #9f9f9f;
  ---inverted-primary-color: #00009b;
  ---inverted-secondary-color: #646be5;
}