.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #1a1a57;

  /*Fonts*/
  --primary-color: #00009b;
  --secondary-color: #646be5;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #9f9f9f;
}